In [1]:
import yfinance as yf

data = yf.download("2330.TW", start = '2023-01-01')
data

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume
Date
2023-01-03  446.0  453.5  443.0  453.0  445.975525  14885824
2023-01-04  449.5  455.0  448.5  449.5  442.529816  19188422
2023-01-05  459.0  459.5  455.0  458.5  451.390228  23549581
2023-01-06  455.0  459.5  455.0  458.5  451.390228  20886011
2023-01-09  468.0  481.0  467.5  481.0  473.541321  46666263
...           ...    ...    ...    ...         ...       ...
2023-10-11  542.0  544.0  540.0  544.0  544.000000  46639969
2023-10-12  545.0  550.0  544.0  550.0  550.000000  34161176
2023-10-13  550.0  554.0  548.0  553.0  553.000000  31123496
2023-10-16  546.0  547.0  542.0  545.0  545.000000  19875676
2023-10-17  550.0  552.0  548.0  551.0  551.000000  18967999

[186 rows x 6 columns]